body {
  /* background-color: #222746; */
  margin: 0px;
  color: lightgrey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .App {
  margin: 10px 20px 20px 20px;
  padding: 10px 20px 20px 20px;
} */

.overview-expenses {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 0px;
  margin: 0px;
  flex-wrap: wrap;
}


.auth-btn{
 background-color: #ffc38a;
 border: #ffc38a;
 margin: 5px;
 border: #ffc38a
}

.login-signup{
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.auth-btn:hover {
  background-color: #ffc38a;
  border: #ffc38a

}

.charts-container {
  height:60vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-group-item-action{
  background-color: #242A52;
  color: #F2F2F2;
}

.badge-pill{
  background-color: #FF3366;
}

.list-group-item{
  display: flex;
  justify-content: space-between;
}

.list-group :hover {
  background-color: #222746;
  color:#F2F2F2;
}

.list-content{
  display: flex;
  flex-direction: column;
}

.nav-link {
  color: lightgrey;
}

.nav-link:hover {
 color: #F2F2F2
}

.nav-pills {
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
}

.nav-pills .nav-link.active {
  background-color: #ffc38a;
  margin-bottom: 10px;
}

.navbar-expand-lg{
  display: flex;
  justify-content: space-between;
}

.settings{
  width: 20px;
  height: 20px;
}

.settings-box{
  display: flex;
  justify-content: flex-end;
}

.navbar-brand{
  color: lightgrey;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #F2F2F2;
}

.expense-card {
  background-color: #67ceab;
  margin: 10px 10px 10px 0px;
  color: white;
  height: 125px;
  border: #67ceab
}

.overview-expenses-link{
  text-decoration: none
}

.chart {
  background-color: #242A52;
}

.dash-viz {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.delete-icon{
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.expense-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(83,195,172, 0.5);
  width: 50vw;
  padding: 10px;
}

::placeholder {
  color:lightgrey
}

input[value]{
  color:lightgrey
}

form {
  display: flex;
  flex-direction: column
}

.expense-btn{
  width: 50vw;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: rgba(83,195,172);
  border: rgba(83,195,172);
}

.expense-form{
  display: flex;
  justify-content: center;
}

.expense-btn:hover {
  background-color: rgba(83,195,172);
}

.fab {
  width: 50px;
  height: 50px;
  background-color: #ffc38a;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  z-index: 1;
  font-size: 40px;
  line-height: 47px;
  color: white;
  text-align: center;
  
  position: fixed;
  right: 60px;
  bottom: 100px;
  
 transition: all 0.1s ease-in-out;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

.auth-form-btn{
  background-color: #ffc38a;
  border:  #ffc38a;
}


.auth-form-btn:hover{
  background-color:#ffc38a;
  border:  #ffc38a;
}

.auth-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  background-image: url("/background.jpg");
  color: #fff
}

.form-control{
  width: 50vw
}

.auth-link{
  color: #ff8b14
}

.auth-link:hover{
  color: #ff8b14
}

.unlogged-home{
  background-image: url("/background.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column-reverse;
  color: #fff
}

.unlogged-home-content{
  color: 'white';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #fff 
}

.unlogged-home-content h1{
  color: #fff;
  font-size: 100px;
  font-weight: bold,
}

.unlogged-home p{
  background-color: #ffc38a;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}

.auth-msg{
  color:#ff8b14;
}

.err-msg{
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 40px auto; 
  padding: 10px;
  width: 100%; 
  text-align: center;
  font-size: 16px;
}

.svg {
  overflow: visible;
  position: absolute;
  top: 0;
  z-index: -1;
}

.ExpensesList{
  margin: auto;
}

.ExpensesList h3 {
  color: #516561;
  text-align: center
}

.ExpensesList-arrows{
  cursor: pointer
}

.profile-page {
  padding-top: 50px;
}

.profile-page td {
  color: #516561;
}

.edit-btn{
  background-color:  #ffc38a;
  border:  #ffc38a
}

.edit-btn:hover{
  background-color:  #ffc38a;
  border:  #ffc38a
}