body {
  /* background-color: #222746; */
  margin: 0px;
  color: lightgrey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin: 10px 20px 20px 20px;
  padding: 10px 20px 20px 20px;
}

.overview-expenses {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 0px;
  margin: 0px;
}


.auth-btn{
 background-color: #FF3366;
 border: none;
 margin: 5px;
}

.login-signup{
  display: flex;
}

.auth-btn:hover {
  background-color: #fa285c;
  border: none;
}

.charts-container {
  height:60vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-group-item-action{
  background-color: #242A52;
  color: #F2F2F2;
}

.badge-pill{
  background-color: #FF3366;
}

.list-group-item{
  display: flex;
  justify-content: space-between;
}

.list-group :hover {
  background-color: #222746;
  color:#F2F2F2;
}

.list-content{
  display: flex;
  flex-direction: column;
}

.nav-link {
  color: lightgrey;
}

.nav-link:hover {
 color: #F2F2F2
}

.nav-pills {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}

.nav-pills .nav-link.active {
  background-color: #FF3366;
  margin-bottom: 10px;
}
/* 
.page-title{
  color:#F2F2F2;
}


.bgc {
  background-color: #242A52;
  margin: 15px;
}

.top{
  height: 40vh;
}

.top-half{
  height: 15vh;
}

.bottom-charts{
  height: 60vh;
}

.bottom-dashboard {
  display: flex;
  justify-content: space-between;
} */

/* .dashboard-boxes{
  display: flex;
  justify-content: space-between;
} */



.navbar-expand-lg{
  display: flex;
  justify-content: space-between;
}

.settings{
  width: 20px;
  height: 20px;
}

.navbar-brand{
  color: lightgrey;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #F2F2F2;
}

.expense-card {
  background-color: rgb(83,195,172);
  margin: 10px 10px 10px 0px;
  color: white;
  height: 125px
}

.overview-expenses-link{
  text-decoration: none
}

.chart {
  background-color: #242A52;
}

.dash-viz {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.delete-icon{
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.expense-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(83,195,172, 0.5);
  width: 50vw;
  padding: 10px;
}

::placeholder {
  color:lightgrey
}

input[value]{
  color:lightgrey
}

form {
  display: flex;
  flex-direction: column
}

.expense-btn{
  width: 50vw;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  background-color: rgba(83,195,172);
  border: rgba(83,195,172);
}

.expense-form{
  display: flex;
  justify-content: center;
}

.expense-btn:hover {
  background-color: rgba(83,195,172);
}

.fab {
  width: 60px;
  height: 60px;
  background-color: #FF3366;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;

  font-size: 40px;
  line-height: 55px;
  color: white;
  text-align: center;
  
  position: fixed;
  right: 65px;
  bottom: 100px;
  
 transition: all 0.1s ease-in-out;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

.auth-form-btn{
  background-color: rgba(83,195,172);
  border:  rgba(83,195,172);
}

.auth-form-btn:hover{
  background-color:rgba(83,195,172);
  border:  rgba(83,195,172);
}

.auth-form{
  width: 60vw;
}

.auth-link{
  color: grey
}

.auth-link:hover{
  color: grey
}









