body {
  /* background-color: #222746; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  padding: 20px;
  margin: 20px;
}

.list-item{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.overview-expenses {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 0px;
  margin: 0px;
}


.auth-btn{
  margin: 5px;
}



